/*ul {
   list-style-type: disc !important;
   padding-left: 40px !important;
}

li {
  list-style-type: disc !important;
}*/

.centerAlign div {
    text-align: center;
}

.leftAlign div {
    text-align: left;
}

.rightAlign div {
    text-align: right;
}
