/*ul {
   list-style-type: disc !important;
   padding-left: 40px !important;
}

li {
  list-style-type: disc !important;
}*/

.centerAlign div {
    text-align: center;
}

.leftAlign div {
    text-align: left;
}

.rightAlign div {
    text-align: right;
}

ul:not(.browser-default)>li {
    list-style-type: disc;
}
ul:not(.browser-default) {
    padding-left: 45px;
    list-style-type: disc;
}
